@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Source+Code+Pro:wght@300;400;500&display=swap');


body {
    background-color: rgb(20,160,71);
    color: rgba(255, 255, 255, 0.8);
    margin: 0;
    padding: 0;
}


h1{
    text-transform: uppercase;
    font-size: 28px;
    font-family: 'Fredoka One', cursive;

}

p {
    font-family: 'PT Sans', sans-serif;

}

.help {
        font-family: 'Source Code Pro', monospace;
        background-color: rgba(225, 225, 225,0.2);
        border-bottom: rgba(225, 225, 225,0.8) solid 1px;
}
.app{
    display: flex;
}

#instructions {
    padding: 30px;
    width: 50%;
}


.editor {
    position: relative;
    background-color: rgb(140, 167, 171);
    height: 260px;
    padding: 10px 10px 10px 40px;
    border-radius: 4px;
    font-family: 'Source Code Pro', monospace;
    font-size: 16px;
    line-height: 1.5;
    color: rgb(122, 122, 122);
    overflow: hidden;
}
pre {
    margin: 0;
}

textarea {
    height: 44px;
    border: none;
    outline: none;
    resize: none;
    overflow: auto;
    margin-left: 26px;
    width: 95%;
}

button {
    background-color: rgb(209,22,6);
    border: none;
    border-radius: 4px;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: rgb(225, 225, 225);
    padding: 5px 10px;
    position: absolute;
    right: 15px;
    bottom: 15px;
}
.line-numbers {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(153,153,153);
    height: 100%;
    text-align: right;
}

#pond {
    position: relative;
    background-color: rgb(31,87,104);
    width: 50vw;
    height: 50vw;
    border-bottom-left-radius: 30px;
    overflow: hidden;
    min-width: 300px;
    min-height: 300px;
    max-width: 100vh;
    max-height: 100vh;

}

#forefront {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 95%;
    height: 95%;
    padding: 2.5%;
    display: flex;

}
#background {
    position: absolute;
    left: 0;
    top: 0;
    width: 95%;
    height: 95%;
    padding: 2.5%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.lily-container, .frog-container {
    width: 20%;
    height: 20%;

}
.lily, .frog {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

}
.lily.green {
    background-image: url('images/lilypad-green.svg');
}
.lily.red {
    background-image: url('images/lilypad-red.svg');
}
.lily.yellow {
    background-image: url('images/lilypad-yellow.svg');
}
.frog.green {
    background-image: url('images/frog-green.svg');
}
.frog.red {
    background-image: url('images/frog-red.svg');
}
.frog.yellow {
    background-image: url('images/frog-yellow.svg');
}